@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #1E2931;
}
h1{
    display: block;
    font-family: 'Caveat Brush', cursive;
    font-weight: 1000;
    font-size: 80px;
    color: rgb(0, 255, 55);
    margin-right: 1rem;
    margin-top: 2%;
}
h3{
    font-family: 'Caveat Brush', cursive;
    color: rgb(0, 255, 213);
    font-size: 2rem;
    margin: 0 auto;
    letter-spacing: 1px;
}
#container{
    width: 80%;
    margin: 0 auto;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    justify-content: center;
}
.card{
    width: calc(20% - 1rem);
    margin: 0.5rem;
    border-radius: 10px;
    border: 1px solid transparent;
    box-shadow: 0 0 4px rgb(255, 0, 76);
    cursor: pointer;
}
.card:hover{
    transform: scale(1.05);
    box-shadow: 0 0 20px rgb(255, 115, 0);
    border: 1px solid rgb(228, 103, 54);
}
.card img{
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.card p{
    color: white;
    padding: 5px;
}
#input{
    width: 30%;
    margin:10px auto;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid grey;
    background-color: #1E2931;
    caret-color: white;
    font-size: 1rem;
    letter-spacing: 2px;
    color: #fff;;
}
footer{
    background-color: black;
    color: white;
    padding: 1rem;
    font-size: 1rem;
}
footer i{
    color: white;
    margin: 0 0.5rem;
}
@media (max-width:400px){
    #input-wrapper{
        display: flex;
        flex-direction: column;
    }
    h1,#input{
        width: 80%;
    }
    .card{
        width: 40%;
    }
}